
* {
    box-sizing: border-box;
  }

  .header{
    
    background-color:$Primary-color ;
    padding: 30px 40px;
    color:$Secondary-color;
    text-align: center; 
    
    .inputContainer{
        display: grid;
        grid-template-columns: 10% 40% 10% 10% 10%;
        grid-column-gap: 4%;
            
    }
  }

    .header:after {
        content: '';
        display: table;
        clear: both;
    }

    ul {
        margin: 0;
        padding: 0;
        li{
            cursor: pointer;
            position: relative;
            padding: 12px 8px 12px 40px;
            background: $Tertiary-color;
            font-size: 18px;
            transition: 0.2s;
  /* make the list items unselectable */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
             user-select: none;
           
        }
    }


li:nth-child(odd) {
    background: #f9f9f9;
}
li:hover{
    background: #ddd;
} 
li.checked{
    background: #888;
    color:$Secondary-color;
    text-decoration: line-through;
}


ul li.checked::before {
    content: '';
    position: absolute;
    border-color:$Secondary-color;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    }

    /* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 100%;
    background:$btn-backgroundcolor;
    color:$btn-color;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.addBtn:hover{
    background-color:$btn-hovercolor;
}


.complete {
    text-decoration: line-through;
}

.crossButton{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
      
}
.crossButton:hover {
    //background-color: #bbb;
    background-color: $Primary-color;
    color:$Secondary-color;
  }  

.wrapper-div{
    margin-top:70px;
  }

    /* Using the mixin */
  .element-div{
    @include element;
    font-size: 18px;
  }

  .element-h1{
   @include element;
  }


    











        



   

